body{
    background-color: rgb(41, 35, 35);
}

.main_container{
    background-color: rgb(101, 105, 43);
    width:100%;
    color:aliceblue;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .main_containeritems span{
       margin-right: 15px;
       font-size: medium;
       font-weight: 400;
    }
    .main_containeritems div{
        display:none;
     }
    .main_mobileview{
        display:none;
    }
    .mobilenav{
        display:none;
    }



    @media only screen and (max-width:600px){
        .main_mobileview{
            display:inline;
        }
        .main_containeritems div{
            display:inline;
         }
        .mobilenav{
            display:block;
           color:aliceblue;
            margin-right: 15px;
            padding-bottom: 2rem;
            font-size: medium;
            font-weight: 400;
            width:50%;
            height: fit-content;
            background-color: rgb(11, 11, 11);
        }
        .mobilenav div{
            margin: 11px;
            padding:5px;
            box-shadow: 2px 5px 5px 0px rgb(237, 234, 234);
        }
        .main_containeritems span{
            display:none
        }
    }