*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.main_container{
    width:100%;
    height:auto;
    background-color: rgba(92, 92, 237,0.2);
    display: flex;
    justify-content: space-evenly;

    padding:21px;
    padding-bottom: 5rem;

}

input{
    background-color: rgba(red, green, blue, 0.1);
    width:100%;
    height: 11%;
    margin: 11px;
    border-radius: 11px;
    padding:5px ;
   
 
}
label{
    color:white;
    font-size: x-large;
    font-weight: 600;
    position: absolute;
   
    left:5px;
}
textarea{
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
input[type="submit"]{
    position: absolute;
   
    left:5px;
}
.enquire_text{
    
    resize: none;
    border-radius: 11px;
    width:100%;
}
.form_container{
    width:51%;
    height:auto;
  opacity: 0.9;
 position: relative;
 }
.formabout_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:31%;
    height:auto;
    border:2px solid white;
    color: white;
}
@media screen and   (max-width:900px){

    .main_container{
        flex-direction: column;
    }
    .form_container{
        width:91%;
       
        
    }
    .formabout_container{
     
        width:91%;
        margin-bottom: 5rem;
        padding-bottom: 2rem;
    }
}